body {
  background-color: #808080;
  margin: 0;
  padding: 0;
}

/*#viewerContainers {
  overflow: auto;
  width: 100%;
  height: 100%;
}*/

div.relative {
  position: relative;
  /*border: 3px solid #73AD21;*/
}

div.absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*border: 3px solid #73AD21;*/
}

#viewerContainer {
  /*width: 100%;
  height: 100%;*/
  /*border: 3px solid black;*/
}

#canvasPin {
  /*width: 100%;
  height: 100%;*/
  /*border: 10px solid red;*/
}
